
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #989898;
}

#number {
    width: 90px;height:60px;
    margin:  2px 2px;
    padding: 2px 2px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 1px black;
    background: #3f4b55; 
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

#sign {
    width: 90px;
    height:60px;
    margin:  2px 2px;
    padding: 2px 2px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 1px black;
    background: #1f3848; 
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

#equal {
    width: 90px;
    height:270px;
    margin:  2px 2px;
    padding: 2px 2px;
    border-radius: 5px; 
    border: 1px solid black;
    box-shadow: 3px 1px black;
    background: #1f3848; 
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

input{
    width: 400px;
    height: 60px;
    background-color: #3f4b55;
    border:1px solid black;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 25px;
}

table{
    padding:12px;
}

#box{
    background-color: #1f1618;
    border: 1px;
    width: 435px;
    height: 470px;
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 6px 5px #6e8494;
    display: flex;
}
